/* 초기화 시작 */
body {
    background-color: beige;
    margin : 0;
    padding : 0;

}

a {
    /* 링크 밑줄 없애기 */
    text-decoration : none;  
    color : inherit;
}

img, video {
    max-width : 100%;
    height : auto;
}

button {
    background-color: transparent;
    border: none;

}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}

ol,ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

/* 초기화 끝 */

